body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    display: flex;
}

.header, .hero {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}

.header {
    align-items: center;
    padding-bottom: 48px;
    justify-content: space-between;
    flex: 1 1 auto;
}

.headerName {
    font-size: 24px;
    font-weight: bolder;
}

.leftLinks, .rightLinks {
    width: 500px;
    height: 200px;
    flex-shrink: 0;
}

.leftLinks {
    justify-items: center;
    /** justify-content: flex-start; **/
}

ul, .heroText {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 18px;
    justify-items: flex-end;
}

li {
    list-style: none;
}

.headerLinks a {
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.heroTitle {
    font-size: 48px;
    margin: 0;
    font-weight: bolder;
}

.heroText {
    padding-top: 0;
    margin: 0 0 10px 0;
}
 
button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 2px 24px;
    font-weight: bold;
}

.rightLinks {
    flex-shrink: 1 1 auto;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.midTop {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.midBot {
    
    padding: 25px 250px;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    word-wrap: wrap;
}

.smQuote {
    text-align: right;
}